#sf_admin_container ul li.sf_admin_action_edititemproperties a
{
  background: url(../images/edit.png) no-repeat 0 0;
}

#sf_admin_container ul.sf_admin_td_actions {
  width: 186px;
}

#sf_admin_container ul.sf_admin_td_actions li a{
  padding-left: 14px;
}

#sf_admin_container #categories-panel {
  float: left;
}